{% extends 'layout.html' %}
{% block title %}
    Creator Dashboard
{% endblock %}

{% block content %}
<br>
    <h1 class="text-center">Creator Dashboard</h1>
    <br>
    <div class="heading">
        <h2 class="text-muted">Albums</h2>
        <a class="btn btn-success" href="{{ url_for('add_album') }}">
            <i class="fas fa-plus"></i>
            Add Album
        </a>
    </div>
    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th>Title</th>
                <th>Release Date</th>
                <th>Genre</th>
                <th>Number Of Songs</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
                <tr>
                    <td>{{ album.title }}</td>
                    <td>{{ album.release_date }}</td>
                    <td>{{ album.genre }}</td>
                    <td>{{ album.song_count() }}</td>
                    <td>
                        <a class="btn btn-outline-info" href="{{ url_for('show_album', album_id=album.album_id) }}">
                            <i class="fas fa-eye"></i>
                            Show
                        </a>
                        <a class="btn btn-warning" href="{{ url_for('edit_album', album_id=album.album_id) }}">
                            <i class="fas fa-edit"></i>
                            Edit
                        </a>
                        <a class="btn btn-danger" href="{{ url_for('delete_album', album_id=album.album_id) }}">
                            <i class="fas fa-trash"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block style %}
<style>
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    h1, h2 {
        text-align: center;
    }

    .btn i {
        margin-right: 5px;
    }
</style>
{% endblock %}
