{% extends 'layout.html' %}

{% block title %}
    Creator Dashboard
{% endblock %}

{% block content %}
    <h1>Creator Dashboard</h1>

    <h2>Your Songs</h2>
    <ul>
        {% for song in created_songs %}
            <li>
                {{ song.title }} by {{ song.artist }}
                <a class="btn btn-success" href="{{ url_for('edit_song', song_id=song.song_id) }}">Edit</a>
                <a class="btn btn-danger" href="{{ url_for('remove_song', song_id=song.song_id) }}">Remove</a>
            </li>
        {% endfor %}
    </ul>

    <a class="btn btn-primary" href="{{ url_for('create_song') }}">Create New Song</a>
{% endblock %}
